<div class="container-login" >
    <div class="datos">
        <form action="/admin/login" method="post">
            <div class="dato">
                <div class="contenedor-llenar">
                    <input type="text" class="llenar" id="inputUser" placeholder="Usuario" name="usuario">
                </div>
            </div>
            <div class="dato">
                <div class="contenedor-llenar">
                    <input type="password" class="llenar" id="inputPassword" placeholder="Password" name="password">
                </div>
            </div>
            <button type="submit" class="boton1" >Ingresar</button>
        </form>
        {{#if error}}
            <p>usuario y/o contrase;a incorrectos</p>
        {{/if}}
    </div>
</div>