body{
    background-color: black;
}


.Novedades{
    display: flex;
    flex-direction: column;
    background-image: url(../../../../public/img/novedades/fondo.png);
    background-size: contain;
    box-shadow: inset 0px 0px 44px 10px  black;
}
.Novedades h2{
    text-align: center;
    color: #16db93;
    
    
}
.novedad{
    align-content: center;
    transition: 1s;
    border-radius: 20px;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
    margin-left: 5%;
    margin-bottom: 20px;
    background: linear-gradient(135deg rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border:1px solid rgba(212, 212, 212, 0.268);
}
.novedad img{
    border-radius: 15px;
    max-width: 80%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.novedad h5{
    font-size: 20px;
    margin-top: 5px;

}
.novedad h6{
    font-size: 15px;
    font-style: italic;
}

.novedad p {
    color: rgb(183, 183, 183);
    font-size: 13px;
}


.textonovedad{
    color:white;
}

.novedad h1{
    font-size: 2rem;
    text-align: left;
}
.novedad h2{
    color: white;
    font-size: 1rem;
    text-align: left;
}
.novedad p{
    text-align: justify;
}
.novedad h1 {
    color: #16db93;
}
