
header h1{
    color: #7c7b92;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.89);
    font-size: 40px;
    font-weight: 500;
    display: inline-block;
    margin-left: 10px;
}

.Header{
    display: flex;

}
