.Fondo{
    background-image: url(../../../../public/img/nav/fondo.png);
    background-size: cover;
}

nav{
    margin: 0px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{ 
    display: flex;
    justify-content: space-between;
    list-style:none; 
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 3px 6px;
    text-align: center;
}

.Header{
    display: flex;

}

.Header h1{
    display: flex;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    margin-left: 10px;
    padding: 20px 0px 0px 0px;   
}

.Header img{
    margin: 10px 10px 10px 40px;
    width: auto;
    height: 80px;
}

.Principal{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 70px;
    margin-left: 40px;
}

.Principal h1 {
    color:white;
    margin-bottom: 0;
}

.Principal h2{
    margin-top: 0;
    color:#ababab
}

.barradeNav ul li{
    color: white;
}


/*botones*/
.btn {
   
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px;
    padding: .5em 1em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  
    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }
  }
.third{
    box-shadow: 0 0 10px 0 #16DB93 inset, 0 0 10px 4px #16DB93;
}

.third:hover {
    background: linear-gradient(135deg rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border-color: #16DB93;
    color: #000000;
    box-shadow: 0 0 40px 40px #16DB93 inset,0 0 10px 4px #16DB93;
    transition: all 150ms ease-in-out;
  }
  